<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jsonPrinter" class="com.manan.myspring.spring3.xmlconfig.JsonPrinter"/>
    <bean id="csvPrinter" class="com.manan.myspring.spring3.xmlconfig.CsvPrinter"/>
    <bean id="myCollectionsBean" class="com.manan.myspring.spring3.xmlconfig.CollectionsBean">
        <property name="objectList">
            <list>
                <value>1</value>
                <ref local="jsonPrinter"/>
                <bean class="com.manan.myspring.spring3.xmlconfig.CsvPrinter"/>
            </list>
        </property>
        <property name="objectMap">
            <map>
                <entry key="1" value="1"/>
                <entry key="2" value-ref="csvPrinter"/>
                <entry key="3">
                    <bean class="com.manan.myspring.spring3.xmlconfig.JsonPrinter"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>