<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <bean id="printer" class="com.manan.myspring.spring3.xmlconfig.JsonPrinter"/>
    <bean id="jsonPrinter" class="com.manan.myspring.spring3.xmlconfig.JsonPrinter"/>
    <bean id="csvPrinter" class="com.manan.myspring.spring3.xmlconfig.CsvPrinter"/>
    <bean id="printerHelper" class="com.manan.myspring.spring3.xmlconfig.PrinterHelper">
        <property name="printer" ref="jsonPrinter"/>
    </bean>
    <bean id="printerHelper2" class="com.manan.myspring.spring3.xmlconfig.PrinterHelper">
        <constructor-arg ref="csvPrinter"/>
    </bean>
    <bean id="printerHelper3" class="com.manan.myspring.spring3.xmlconfig.PrinterHelper"
          p:printer-ref="csvPrinter" p:helperName="commaSeparatedValues"/>
    <bean id="printerHelperInnerBean" class="com.manan.myspring.spring3.xmlconfig.PrinterHelper">
        <constructor-arg>
            <bean class="com.manan.myspring.spring3.xmlconfig.JsonPrinter"/>
        </constructor-arg>
    </bean>
    <import resource="SpringBeansResource2-2.xml"/>
    <bean id="printerHelperExternalInternal" class="com.manan.myspring.spring3.xmlconfig.PrinterHelper">
        <constructor-arg name="printer" ref="printerExternal"/>
        <property name="helperName">
            <ref local="someString"/>
        </property>
    </bean>
    <bean id="someString" class="java.lang.String">
        <constructor-arg value="helperNameString"/>
    </bean>
    <bean id="mySingletonBean" class="com.manan.myspring.spring3.xmlconfig.beanscope.SingletonClass" lazy-init="true"/>
    <bean id="myPrototypeBean" class="com.manan.myspring.spring3.xmlconfig.beanscope.PrototypeClass" scope="prototype"/>
    <context:component-scan base-package="com.manan.myspring.spring3.javaconfig.componentscan"/>
</beans>